.success {
  stroke: #4CAE4C;
  stroke-width: 1;
  fill: #5CB85C;
}

.danger {
  stroke: #D9534F;
  stroke-width: 1;
  fill: #E9635F;
}

.warning {
  stroke: #F0AD4E;
  stroke-width: 1;
  fill: #FFA500;
}

.primary {
  stroke: #337AB7;
  stroke-width: 1;
  fill: #5BC0DE;
}

.info {
  stroke: #50B0DE;
  stroke-width: 1;
  fill: #6BD0EE;
}

.default {
  stroke: #cccccc;
  stroke-width: 1;
  fill: #ffffff;
}

line.wheel-line {
  stroke: #333;
}

text.wheel-text {
  fill: #333;
}

@media (prefers-color-scheme: dark) {
  .default {
    stroke: #222;
    stroke-width: 1;
    fill: black;
  }
  line.wheel-line {
    stroke: #ccc;
  }
  text.wheel-text {
    fill: #ccc;
  }

}
